include ../_components/_head
include ../_components/_foot

doctype html
html(lang="en")
    head
        +head('Page', 'Page description')
    body.page.homepage.blue
        .page-header
            +header
        .full-wrapper
        +footer
        +foot