mixin foot
    - var rand = Math.random()
    script(src='/js/app.js?v='+rand)
mixin footer
    .footer
        .top.row
            .social
                a(href="#")
                    img(src="" alt="")
                a(href="#")
                    img(src="" alt="")
                a(href="#")
                    img(src="" alt="")
                a(href="#")
                    img(src="" alt="")
            a(href="tel:7033290632") (703) 329-06-32
        p.coopyrite © 2019 All rights reserved by Namaste.