mixin head(title, description)
    - var rand = Math.random()
    meta(charset='utf-8')
    title=title
    meta(name="theme-color" content="#490074")
    meta(name='format-detection', content='telephone=no')
    meta(name='description', content=description)
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport-trigger(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#fff')
    meta(name='format-detection', content='telephone=no')
    link(rel='icon', type='image/png', href='/img/favicon.ico')
    link(rel='stylesheet', media='all', href='/css/app.css?v='+rand)
mixin header
    .page-header__content
        .logo
            a.link(href="/" data-lang="tr")
                h1 NAMASTE
        .menu
            nav
                ul
                    li
                        a(href="/") HOME
                    li
                        a(href="/about") ABOUT
                    li
                        a(href="/contacts") CONTACTS
        .mob-button
            span
            span
            span