include _components/_head
include _components/_foot

doctype html
html(lang="en")
    head
        +head('Namaste', 'New template description')
    body.page.homepage
        .page-header
            +header
        .full-wrapper
           section.top-section
                h2 WELCOME TO THE
                h1 NAMASTE YOGA STUDIO
                .bottom
                    p Founded back in 1983, when the word yoga wasn’t resonating with the public just as much as it does now. Now we’re the biggest best yoga destination in a 100 miles range!
                    a(href="tel:+3800630000123")
                        span GET STARTED TODAY
           section.content-section
                h2 YOGA CLASSES
                .grid
                    .box
                        img(src="" alt="grid")
                        .overlay
                            span YOGA REPEATS
                    .box
                        img(src="" alt="grid")
                        .overlay
                            span YOGA REPEATS
                    .box
                        img(src="" alt="grid")
                        .overlay
                            span YOGA REPEATS
                    .box
                        img(src="" alt="grid")
                        .overlay
                            span YOGA REPEATS
                    .box
                        img(src="" alt="grid")
                        .overlay
                            span YOGA REPEATS
                    .box
                        img(src="" alt="grid")
                        .overlay
                            span YOGA REPEATS
                .namaste-card
                    img(src="" alt="")
                    .block
                        h3 NAMASTE
                        .row
                            .col
                                h4 WE ARE A TEAM OF PROS
                                p Many of our Yoga coaches have 15+ years of experience and are recognized by the top US Yoga masters.
                            .line
                            .col
                                h4 SPECIAL CLASSES
                                p This type of classes will be perfect for someone looking for a not-too-demanding routine. Contact us now to learn more about these courses!
                .coaches
                    h2 MEET OUR COACHES
                    p When it comes to practicing and preaching the love for yoga, it takes a lot of zen and experience. Every single coach on our team’s got it and will gladly assist you with honing your yoga routine skills!
                    .grid
                        .col
                            img(src="" alt="coach")
                            h4.name NAME
                        .col
                            img(src="" alt="coach")
                            h4.name NAME
                        .col
                            img(src="" alt="coach")
                            h4.name NAME
            .paper-block
                h2 HAVE YOU EVER FELT TIRED & UNFOCUSED?
                p What If We Told You That There’s a Cure Called Yoga, Which Will Balance Both Your Mind & Body!
                a(href="tel:+3800630000123")
                    span GET STARTED TODAY

            +footer
        +foot