//fonts

@font-face {
  font-family: Lucidart;
  src: url("/fonts/lucidatypewriterregular.ttf")
}

// Colors
$dark-black: #2a2a2a;
$white: #fff;
$grey: #dadada;
$blue: #d3e5e9;

// Screens
$xlg-screens: 1600px;
$lg-screens: 1200px;
$md-screens: 992px;
$sm-screens: 768px;
$mb-screens: 600px;
