.homepage{
  .full-wrapper{
    width: 100%;
    .top-section{
      box-sizing: border-box;
      padding: calculateHeight(390) calculateWidth(60) calculateHeight(60);
      background: url('/img/top-bg.PNG');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @media(max-width: $md-screens){
        padding: tH(200) 20px tH(20);
      }
      @media(max-width: $mb-screens){
        padding-top: 160px;
      }
      h2{
        color: $dark-black;
        font-size: fontSize(32);
        line-height: 1;
        margin-bottom: 36px;
      }
      h1{
        color: $dark-black;
        font-size: fontSize(48);
        line-height: 1;
        margin-bottom: calculateHeight(260);
        @media(max-width: $md-screens){
          margin-bottom: tH(120);
        }
        @media(max-width: $mb-screens){
          margin-bottom: 25px;
        }
      }
      .bottom{
        p{
          color: $grey;
          font-size: fontSize(18);
          line-height: 2;
          margin-bottom: calculateHeight(30);
          letter-spacing: 2px;
          @media(max-width: $mb-screens){
            font-size: 16px;
          }
        }
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          padding: calculateHeight(20) calculateWidth(40);
          background: #3b4b6f;
          border-radius: 5px;
          width: 350px;
          transition: box-shadow .3s;
          @media(max-width: $mb-screens){
            width: 100%;
          }
          &:hover{
            -webkit-box-shadow: -5px 5px 20px -1px rgb(24, 27, 48);
            -moz-box-shadow: -5px 5px 20px -1px rgb(24, 27, 48);
            box-shadow: -5px 5px 20px -1px rgb(24, 27, 48);
          }
          span{
            color: $grey;
            font-size: fontSize(18);
          }
        }
      }
    }
    .content-section{
      box-sizing: border-box;
      padding: calculateHeight(160) calculateWidth(60);
      @media(max-width: $md-screens){
        padding: tH(60) 20px;
      }
      h2{
        text-align: center;
        margin-bottom: calculateHeight(110);
      }
      .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .box{
          width: 30%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-bottom: 30px;
          @media(max-width: $mb-screens){
            width: 46%;
            margin-bottom: 46px;
          }
          &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
          img{
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
            object-fit: cover;
          }
          .overlay{
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.3);
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            transform-origin: center center;
            transition: transform .6s;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
              font-size: fontSize(20);
              color: $dark-black;
            }
          }
          &:hover{
            .overlay{
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
            }
          }
        }
      }
      .namaste-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
          width: 50%;
          height: auto;
          @media(max-width: $md-screens){
            width: 100%;
          }
        }
        .block{
          width: 50%;
          height: auto;
          background: #d3e5e9;
          box-sizing: border-box;
          padding: calculateHeight(120) calculateWidth(25);
          @media(max-width: $md-screens){
            width: 100%;
            padding: tH(30) tW(20);
          }
          h3{
            font-size: fontSize(24);
            text-align: center;
            line-height: 1;
            color: $dark-black;
            margin-bottom: calculateHeight(60);
          }
          .row{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .line{
              width: 3px;
              background: $dark-black;
              position: absolute;
              height: 100%;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            .col{
              width: 47%;
              h4{
                font-size: fontSize(20);
                color: $dark-black;
                width: 65%;
                margin-bottom: calculateHeight(40);
              }
              p{
                font-size: fontSize(18);
                color: $dark-black;
              }
            }
          }
        }
      }
      .coaches{
        margin-top: calculateHeight(60);
        h2{
          text-align: center;
          margin-bottom: calculateHeight(110);
          @media(max-width: $mb-screens){
            margin-bottom: 25px;
          }
        }
        p{
          text-align: center;
          font-size: fontSize(18);
          line-height: 2;
          letter-spacing: 1.3px;
          margin-bottom: calculateHeight(60);
          color: $dark-black;
        }
        .grid{
          display: flex;
          justify-content: space-between;
          .col{
            width: 25%;
            @media(max-width: $sm-screens){
              width: 100%;
              margin-bottom: 12px;
            }
            img{
              width: 100%;
              height: auto;
              display: block;
              margin: 0 auto 20px;
            }
            h4.name{
              font-size: fontSize(22);
              text-align: center;
              color: $dark-black;
            }
          }
        }
      }
    }
    .paper-block{
      width: 100%;
      box-sizing: border-box;
      padding: calculateHeight(60) calculateWidth(60);
      h2{
        color: $dark-black;
        font-size: fontSize(36);
        line-height: 1;
        margin-bottom: 36px;
      }
      p{
        font-size: fontSize(18);
        line-height: 2;
        letter-spacing: 1.3px;
        margin-bottom: 20px;
        color: $dark-black;
      }
      a{
        margin: 0 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 45px;
        background: $dark-black;
        border-radius: 5px;
        @media(max-width: $mb-screens){
          width: 100%;
          margin: 0 auto;
        }
        span{
          font-size: 18px;
          letter-spacing: 1.13px;
          color: $white;
        }
      }
    }
  }
}