include ../_components/_head
include ../_components/_foot

doctype html
html(lang="en")
    head
        +head('Namaste', 'New template description')
    body.page.contacts
        .page-header
            +header
        .full-wrapper
            .form-alert
            section.top-section
                h1 Contacts
                p We’re the #1 Yoga destination in LA!
            section.content-section
                p Address: 6036 Richmond hwy., Alexandria, VA 2230 Let’s talk&nbsp;
                    a(href="tel:7033290632") (703) 329-06-32
                p.small.mt We are working on:
                .timesheet
                    .row
                        p Monday – Thursday:
                        p.small 09 AM. — 09 PM.
                    .row
                        p Friday:
                        p.small 09 AM. — 07 PM.
                    .row
                        p Saturday:
                        p.small 09 AM. — 02 PM.
                .contactform
                    .row
                        p.label Name:
                        input(name="name" type="text" placeholder="Enter your name")
                    .row
                        p.label E-mail:
                        input(name="mail" type="mail" placeholder="Enter your e-mail")
                    .row
                        p.label Phone:
                        input(name="phone" type="tel" placeholder="Enter your phone")
                    .row
                        p.label Message
                        input(name="message" type="text" placeholder="Enter your message")
                    .button.submit
                        span SUBMIT
            .map
                iframe(
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1270.7500125895685!2d30.526274458328473!3d50.4317863034264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf04a1221173%3A0x5ed00859aa1929b8!2z0JTRgNGD0LPQuNC5INC60LDQv9C-0L3RltGAINCc0YPQt9C10Lkg0ZbRgdGC0L7RgNGW0Zcg0YTQvtGA0YLQuNGE0ZbQutCw0YbRltGX!5e0!3m2!1sen!2sua!4v1574891950360!5m2!1sen!2sua"
                    frameborder="0"
                    style="border:0;"
                    allowfullscreen=""
                )
            +footer
        +foot